* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

*:focus-visible {
  outline: dashed 2px var(--focus-color);
}

.theme1 {
  --main-bg-color: linear-gradient(to bottom, #0400ff, #5c00fcc5);
  --main-bg-color: linear-gradient(-20deg, #514edf 36%, #c933c066);
  --settings-bg: #00000040;
  --settings-cont-bg: #fff;
  --canvas-bg: #fff;
  --canvas-stroke: rgba(0,0,0, 40%);
  --text-color: #14133d;
  --focus-color: #0ff;
  --icon-color: #fff;
  --break-bg: #7607d1;
  --long-break-bg: #048eb9;
  --range-track-color: #514edf;
  --range-thumb-color: #FEC007;
  --timer-color: #fff;
}

.theme2 {
  --main-bg-color: hsl(268, 75%, 9%);
  --settings-bg: hsla(268, 71%, 12%, 40%);
  --settings-cont-bg: hsl(268.1, 69.6%, 18%);
  --canvas-bg: hsl(268.1, 69.6%, 18%);
  --canvas-stroke: rgba(255,255,255, 40%);
  --text-color: hsl(52, 100%, 62%);
  --focus-color: #f00;
  --icon-color: hsl(295, 100%, 50%);
  --break-bg: linear-gradient(to left bottom, hsl(169, 31%, 44.9%),hsl(315.3, 65.2%, 25.9%));
  --long-break-bg: hsl(315.3, 65.2%, 25.9%);
  --range-track-color: hsl(281, 89%, 26%);
  --range-thumb-color: hsl(176, 100%, 44%);
  --timer-color: hsl(52, 100%, 62%);
}

.theme3 {
  --main-bg-color: #0f2026;
  --settings-bg: #397d7d33;
  --settings-cont-bg: #2a2a2a;
  --canvas-bg: #15545729;
  --canvas-stroke: rgba(255,255,255, 40%);
  --text-color: #4fd3c8;
  --focus-color: ;
  --icon-color: #aefff8;
  --break-bg: linear-gradient(to left bottom, #0f1049, #4fd3c8ff 155%);
  --long-break-bg: linear-gradient(to left bottom, #0f1049, black);
  --range-track-color: #0D7377;
  --range-thumb-color: #14FFEC;
  --timer-color: #41D0C5;
}

@font-face {
  font-family: "Poppins";
}

body {
  font-size: 16px;
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  height: 100vh;
  position: relative;
  background: var(--main-bg-color);
  overflow: hidden;
}

.main-cont {
  height: 100vh;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.main-cont #timer-canvas {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px -200px 0 -200px;
  background: rgba(255, 229, 61, 0.363);
  border-radius: 200px;
}

.main-cont #time {
  font-size: 80px;
  font-family: sans-serif;
  color: var(--timer-color);
  margin-bottom: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -86px auto auto -100px;
}

.main-cont #time[data-mode="running"] ~ .buttons #pauseButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-cont #time[data-mode="paused"] ~ .buttons #startButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-cont #time[data-mode="paused"] ~ .buttons #stopButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-cont #time[data-mode="break"] ~ .buttons #breakButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-cont .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 55%;
  left: 50%;
  margin-left: -45px;
}

.main-cont .buttons > li {
  list-style: none;
}

.main-cont .buttons > li > button {
  display: none;
  width: 70px;
  height: 70px;
  background-color: transparent;
  border: none;
  margin: 10px;
}

.main-cont .buttons > li > button:focus-visible {
  outline: dashed 2px var(--focus-color);
}

.main-cont .buttons > li > button > img {
  width: 100%;
}

.main-cont .buttons > li > button > svg {
  width: 100%;
}

.main-cont .buttons > li > button > svg > path {
  stroke-width: 30px;
}

.done-cont {
  position: absolute;
  max-width: 200px;
  height: 25px;
  top: 20px;
  left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.done-cont .pomodoro {
  width: 25px;
  height: 25px;
}

.done-cont .pomodoro:not(:last-child) {
  margin-right: 10px;
}

.done-cont .pomodoro > img {
  width: 100%;
}

.menu-cont {
  position: absolute;
  max-width: 200px;
  height: 35px;
  top: 20px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-cont > button:not(:last-child) {
  margin-right: 20px;
}

.menu-cont > button:focus-visible {
  outline: dashed 2px var(--focus-color);
}

.menu-cont .report-icon, .menu-cont .settings-icon {
  height: 35px;
  width: 35px;
  border: none;
  background: transparent;
}

.menu-cont .report-icon > img, .menu-cont .settings-icon > img {
  width: 100%;
}

.menu-cont .settings {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: var(--settings-bg);
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.menu-cont .settings .report-content .canvases {
  margin-top: 15px;
  height: 90%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.menu-cont .settings .report-content .canvases > p {
  margin-bottom: 5px;
}

.menu-cont .settings .report-content .canvases > p > span {
  font-weight: 700;
}

.menu-cont .settings .report-content .canvases::-webkit-scrollbar {
  display: none;
}

.menu-cont .settings .settings-content, .menu-cont .settings .report-content {
  position: fixed;
  top: 10%;
  left: 50%;
  margin: 0 0 0 -225px;
  background-color: var(--settings-cont-bg);
  border-radius: 10px;
  width: 450px;
  height: 80%;
  -webkit-animation-name: slideInSettings;
          animation-name: slideInSettings;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  padding: 25px;
  position: relative;
}

.menu-cont .settings .settings-content .upper-cont, .menu-cont .settings .report-content .upper-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.menu-cont .settings .settings-content .upper-cont > p, .menu-cont .settings .report-content .upper-cont > p {
  font-size: 25px;
  font-weight: 600;
}

.menu-cont .settings .settings-content .upper-cont .close-settings, .menu-cont .settings .report-content .upper-cont .close-settings {
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
}

.menu-cont .settings .settings-content .upper-cont .close-settings > img, .menu-cont .settings .report-content .upper-cont .close-settings > img {
  width: 100%;
}

.menu-cont .settings .settings-content .upper-cont .close-settings:focus-visible, .menu-cont .settings .report-content .upper-cont .close-settings:focus-visible {
  outline: dashed 2px var(--focus-color);
}

.menu-cont .settings .settings-content > label, .menu-cont .settings .report-content > label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.menu-cont .settings .settings-content > ul > li, .menu-cont .settings .report-content > ul > li {
  display: inline;
}

.menu-cont .settings .settings-content > ul > li > input[type="radio"], .menu-cont .settings .report-content > ul > li > input[type="radio"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 30px;
  height: 30px;
  background-color: lightblue;
  border-radius: 50px;
  margin-right: 10px;
}

.menu-cont .settings .settings-content > ul > li > input[type="radio"]:checked, .menu-cont .settings .report-content > ul > li > input[type="radio"]:checked {
  -webkit-box-shadow: 0 0 0 3px #0ff;
          box-shadow: 0 0 0 3px #0ff;
}

.menu-cont .settings .settings-content > ul > li > input[type="radio"]:focus-visible, .menu-cont .settings .report-content > ul > li > input[type="radio"]:focus-visible {
  outline: dashed 3px var(--focus-color);
}

.menu-cont .settings .settings-content > ul > li #theme1, .menu-cont .settings .report-content > ul > li #theme1 {
  background: linear-gradient(-40deg, #514edf 15%, #c933c0);
}

.menu-cont .settings .settings-content > ul > li #theme2, .menu-cont .settings .report-content > ul > li #theme2 {
  background: linear-gradient(45deg, #4d1d5e, #58077d);
}

.menu-cont .settings .settings-content > ul > li #theme3, .menu-cont .settings .report-content > ul > li #theme3 {
  background: linear-gradient(45deg, #0f2026, #14FFEC);
}

.menu-cont .settings .settings-content > input[type="range"], .menu-cont .settings .report-content > input[type="range"] {
  width: 100%;
  background: var(--settings-cont-bg);
}

.menu-cont .settings .settings-content > input[type="range"], .menu-cont .settings .report-content > input[type="range"] {
  height: 31px;
  -webkit-appearance: none;
  margin: 5px 0;
  width: 100%;
}

.menu-cont .settings .settings-content > input[type="range"]:focus-visible, .menu-cont .settings .report-content > input[type="range"]:focus-visible {
  outline: dashed 2px var(--focus-color);
}

.menu-cont .settings .settings-content > input[type="range"]::-webkit-slider-runnable-track, .menu-cont .settings .report-content > input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  background: var(--range-track-color, grey);
  border: none;
  border-radius: 18px;
}

.menu-cont .settings .settings-content > input[type="range"]::-webkit-slider-thumb, .menu-cont .settings .report-content > input[type="range"]::-webkit-slider-thumb {
  height: 22px;
  border: none;
  width: 22px;
  border-radius: 24px;
  background: var(--range-thumb-color, black);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

.menu-cont .settings .settings-content > input[type="range"]:focus-visible::-webkit-slider-runnable-track, .menu-cont .settings .report-content > input[type="range"]:focus-visible::-webkit-slider-runnable-track {
  outline: dashed 2px var(--focus-color);
}

.menu-cont .settings .settings-content > input[type="range"]::-moz-range-track, .menu-cont .settings .report-content > input[type="range"]::-moz-range-track {
  width: 100%;
  border: none;
  height: 9px;
  cursor: pointer;
  background: var(--range-track-color, grey);
  border-radius: 18px;
}

.menu-cont .settings .settings-content > input[type="range"]::-moz-range-thumb, .menu-cont .settings .report-content > input[type="range"]::-moz-range-thumb {
  height: 22px;
  border: none;
  width: 22px;
  border-radius: 24px;
  background: var(--range-thumb-color, black);
  cursor: pointer;
}

.menu-cont .settings .settings-content > input[type="range"]::-ms-track, .menu-cont .settings .report-content > input[type="range"]::-ms-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.menu-cont .settings .settings-content > input[type="range"]::-ms-fill-lower, .menu-cont .settings .report-content > input[type="range"]::-ms-fill-lower {
  background: var(--range-track-color, grey);
  border-radius: 36px;
}

.menu-cont .settings .settings-content > input[type="range"]::-ms-fill-upper, .menu-cont .settings .report-content > input[type="range"]::-ms-fill-upper {
  background: var(--range-track-color, grey);
  border-radius: 36px;
}

.menu-cont .settings .settings-content > input[type="range"]::-ms-thumb, .menu-cont .settings .report-content > input[type="range"]::-ms-thumb {
  margin-top: 1px;
  height: 22px;
  border: none;
  width: 22px;
  border-radius: 24px;
  background: var(--range-thumb-color, black);
  cursor: pointer;
}

.menu-cont .settings .settings-content > input[type="range"]:focus-visible::-ms-fill-lower, .menu-cont .settings .report-content > input[type="range"]:focus-visible::-ms-fill-lower {
  outline: dashed 2px var(--focus-color);
}

.menu-cont .settings .settings-content > input[type="range"]:focus-visible::-ms-fill-upper, .menu-cont .settings .report-content > input[type="range"]:focus-visible::-ms-fill-upper {
  outline: dashed 2px var(--focus-color);
}

#report-canvas {
  background: var(--canvas-bg, silver);
  border: 1px solid var(--focus-color);
  border-radius: 5px;
  margin-bottom: 20px;
}

#monthly-report-canvas {
  width: 100%;
  background: var(--canvas-bg, silver);
  border: 1px solid var(--focus-color);
  border-radius: 5px;
}

@media (min-width: 400px) {
  #timer-canvas {
    width: 100vw;
    left: 0;
  }
}

@media (max-width: 499px) {
  .menu-cont .settings .settings-content, .menu-cont .settings .report-content {
    height: 80%;
    top: 10%;
    left: 0;
    margin: 0;
    width: 100%;
  }
  @-webkit-keyframes slideInSettings {
    from {
      top: -100%;
      opacity: 0;
    }
    to {
      top: 10%;
      opacity: 1;
    }
  }
  @keyframes slideInSettings {
    from {
      top: -100%;
      opacity: 0;
    }
    to {
      top: 10%;
      opacity: 1;
    }
  }
  @-webkit-keyframes slideOutSettings {
    from {
      top: 10%;
      opacity: 1;
    }
    to {
      top: -100%;
      opacity: 0;
    }
  }
  @keyframes slideOutSettings {
    from {
      top: 10%;
      opacity: 1;
    }
    to {
      top: -100%;
      opacity: 0;
    }
  }
}

@media (min-width: 500px) {
  @-webkit-keyframes slideInSettings {
    from {
      top: -100%;
      opacity: 0;
    }
    to {
      top: 10%;
      opacity: 1;
    }
  }
  @keyframes slideInSettings {
    from {
      top: -100%;
      opacity: 0;
    }
    to {
      top: 10%;
      opacity: 1;
    }
  }
  @-webkit-keyframes slideOutSettings {
    from {
      top: 10%;
      opacity: 1;
    }
    to {
      top: -100%;
      opacity: 0;
    }
  }
  @keyframes slideOutSettings {
    from {
      top: 10%;
      opacity: 1;
    }
    to {
      top: -100%;
      opacity: 0;
    }
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
